/* line 1, ../sass/pool_tracker.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/pool_tracker.scss */
html {
  width: 100%;
  height: 100%;
  color: white;
}
/* line 11, ../sass/pool_tracker.scss */
html body {
  margin: 0;
  width: 100%;
  height: 100%;
}
/* line 16, ../sass/pool_tracker.scss */
html body.admin-menu {
  margin-top: 0px !important;
}
/* line 22, ../sass/pool_tracker.scss */
html body #page-wrapper #header {
  display: inline-block;
}
/* line 26, ../sass/pool_tracker.scss */
html body #page-wrapper #navigation {
  display: inline-block;
}
/* line 31, ../sass/pool_tracker.scss */
html body #page-wrapper #main #page-title {
  display: none;
}
/* line 34, ../sass/pool_tracker.scss */
html body #page-wrapper #main .tabs {
  display: none;
}

/* line 47, ../sass/pool_tracker.scss */
#block-pool-tracker-pool-tracker {
  background: rgba(0, 0, 0, 0.4);
}
