/* line 8, ../sass/pool_tracker.scss */
.view-games .views-row.views-row-5, .view-games .views-row.views-row-6 {
  display: none;
}
/* line 11, ../sass/pool_tracker.scss */
.view-games .views-row .game-stat {
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  /* line 18, ../sass/pool_tracker.scss */
  .view-games .views-row.views-row-5, .view-games .views-row.views-row-6 {
    display: block;
  }
}
