* {
  box-sizing: border-box;
}
html {
  //background-image:url(https://upload.wikimedia.org/wikipedia/commons/7/7c/Antu_8-ball-pool.svg);
  //background-image:url(http://unsplash.it/1800/1200?image=881&blur=10);
  width: 100%;
  height: 100%;
  color: white;
  
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    
    &.admin-menu {
      margin-top: 0px !important;
    }
    
    #page-wrapper {
      
      #header {
        display:inline-block;
      }
      
      #navigation {
        display:inline-block;
      }
      
      #main {
        #page-title {
          display:none;
        }
        .tabs {
          display:none;
        }
      } 
    }
  }
}






#block-pool-tracker-pool-tracker {
  //background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/American-style_pool_table_diagram_%28empty%29.png/1024px-American-style_pool_table_diagram_%28empty%29.png);
  //background-size:cover;
  background: rgba(0,0,0,0.4);

}

